{% extends "default.html" %}
{% block content %}
<div class="row content">
    <div class="full-width">
        <h1>Posts</h1>
        <p>This is overview of all {{ state.num_posts }} posts I published so far.</p>
        <p>If you want to subscribe to new posts there are <a href="{{state.rss_url}}">rss</a> and <a href="{{state.rss_url}}">atom</a> feeds.</p>
        <ul class="post-list">

            {% for post in state.posts %}
            <li class="post-list-item">
                <a class="post-list-item-title" href="{{post.url}}">
                    {{post.title}}
                </a>
                <time class="post-date f-sm f-mono" datetime="2019-06-12T13:51:47-05:00">
                    {{ post.date }}
                </time>

            </li>

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}